HomeworkPanGestureRecognizer/HomeworkPanGestureRecognizer.xcodeproj/project.xcworkspace/xcuserdata
HomeworkPanGestureRecognizer/HomeworkPanGestureRecognizer.xcodeproj/xcuserdata
HomeworkPanGestureRecognizer/.DS_Store
.DS_Store
